:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }


body {
    text-align: center;
    background-color: rgb(173, 216, 230);
}

h1 {
  font-size: 48px;
}

#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    height: fit-content;
    width: fit-content;
}

.grid-item {
    background-color: grey;
    text-align: center;
    width: 50px;
    height: 50px;
    row-gap: 0px;
    column-gap: 0px;
    border: 1px solid white;

  }

.flex {
    display: flex;
    border-color: rgb(35, 53, 174);
    border: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    height: 500px;
}

.utility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

}


.canvas {
    border: 2px solid black;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

button {
  border: none;
  padding: 10px;
  background-color: whitesmoke;

}

button:hover {
  background-color: lightgray;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
  /*   -webkit-appearance: none;  /* Override default CSS styles */
    /* appearance: none; */
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }